* {
    margin: 0;
    padding: 0;
 }
section{
   margin-top: 5vh; 
 }
 .form-control{    
    background-color: rgb(240,240,240);
 }
 
 .form-group{     
    border-radius: 10px;       
    box-shadow: 7px 7px 3px rgb(201, 201, 201);
 }
 
 .buttons{
    margin-top: 2vh;    
 }
 .btn{
    box-shadow: 5px 5px 3px rgb(200, 200, 200);
    margin-right: 5%;
 }