* {
    margin: 0;
    padding: 0;
 }
 body{
   
 }
 header{
   margin-top: 3vh;
   display: flex;
   justify-content: space-between;
 }
h1{
   margin-top: 5vh;
   text-align: center;
   font-family: fantasy;
   font-size: xxx-large;
 }
section{
   margin-top: 5vh; 
 }
 .form-control{    
    /*background-color: rgb(240,240,240);*/
 } 
 .form-group{     
    border-radius: 3px;       
    box-shadow: 5px 5px 5px 1px rgb(150, 150, 150);
 } 
 .buttons{
    margin-top: 2vh;  
    display: flex;
    justify-content: space-around;    
 }
 .btn{
    box-shadow: 3px 3px 5px 1px rgb(150, 150, 150);
 }  
 @media (max-width: 1024px){
   
 }
 @media (max-width: 768px){  
   .btn{
      --bs-btn-padding-y: .40rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .90rem;      
      /*box-shadow: none;*/
   }   
 }
 $color-mode-type: data;

 @each $color, $value in $theme-colors-text-dark {
   ba;
 }